// Body
$body-bg: #f8fafc;
$body-background-image: url('/images/bgimage.jpg'); // Add your background image path here


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

